.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

input{
    width: 90%;
    height: 5em;
    border-radius: 20px;
}
.container-inputs{
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    gap: 2.5em;
    padding: 2.5em;
    background-color: #0A0A0A;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}
.btn-style{
    display: flex;
    gap:  1em;
    width: 100%;
    justify-content: space-evenly;
}
.btn-style button{
    padding: 1em;
}
::placeholder{
    text-align: center;
    
}