.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
label input{
    width: 100%;
    border-radius: 10px;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5em;
    background-color: rgba(116, 110, 102, 0.436);
    border-radius: 10%;
}